<?xml version="1.0"?>
<config>
    <modules>
        <Elgentos_SlimCRM>
            <version>0.1.0</version>
        </Elgentos_SlimCRM>
    </modules>
    <frontend>
        <events>
            <cms_page_render>
                <observers>
                    <slimcrm>
                        <type>singleton</type>
                        <class>Elgentos_SlimCRM_Model_Header</class>
                        <method>add</method>
                    </slimcrm>
                </observers>
            </cms_page_render>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Elgentos_SlimCRM>
                    <files>
                        <default>Elgentos_SlimCRM.csv</default>
                    </files>
                </Elgentos_SlimCRM>
            </modules>
        </translate>
        <layout>
            <updates>
                <slimcrm>
                    <file>slimcrm.xml</file>
                </slimcrm>
            </updates>
        </layout>

        <events>
            <customer_save_before>
                <observers>
                    <module>
                        <type>singleton</type>
                        <class>Elgentos_SlimCRM_Model_Observer</class>
                        <method>saveRemarks</method>
                    </module>
                </observers>
            </customer_save_before>
        </events>

    </adminhtml>
    <global>
       <blocks>
           <slimcrm>
               <class>Elgentos_SlimCRM_Block</class>
           </slimcrm>
       </blocks>
        <models>
            <slimcrm>
                <class>Elgentos_SlimCRM_Model</class>
            </slimcrm>
        </models>
        <resources>
            <slimcrm_setup>
                <setup>
                    <module>Elgentos_SlimCRM</module>
                    <class>Elgentos_SlimCRM_Model_Mysql4_Setup</class>
                </setup>
            </slimcrm_setup>
        </resources>

        <helpers>
            <slimcrm>
                <class>Elgentos_SlimCRM_Helper</class>
            </slimcrm>
        </helpers>
    </global>
</config>
